
<ng-container *ngIf="true">
   <div class="container">
    <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive m-4">
                <thead class=" bg-dark text-white ">
                    <tr>
                        <th scope="col">Codigo </th>
                        <th scope="col">Nombre </th>
                        <th scope="col">Imagen </th>
                        <th scope="col">Descripcion </th>
                        <th scope="col">P.Unitario</th>
                        <th scope="col">Cantidad </th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Iphone</td>
                        <td>Imagen</td>
                        <td> Es un Iphone 12</td>
                        <td> 50,000</td>
                        <td> 1</td>
                        <td> 50,000</td>
                        <td> 
                            <button class="btn btn-danger btn-sm text-white text-center"> 
                                <span > 
                                    <fa-icon [icon]="faDelete"></fa-icon>
                                </span>
                            </button>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
   </div>
</ng-container>


<ng-container *ngIf="true">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="card mb-4 mt-4" style="width: 25rem; height: auto;">
            <h2 class="card-title text-center mt-4 mb-4">Mi Carrito de Compras</h2>
            
            <div class="card-body">
                <img src="./../../../assets/img/Captura de pantalla (140).png" class="card-img-top" alt="...">
              <!-- <h4 class="card-text text-center">Tu carrito esta vacio</h4> -->
              <h4 class="card-text text-center">Agrega algo al carrito</h4>
              <button class="btn btn-primary d-grid gap-2 col-6 mx-auto mt-4 mb-4">
                   Compra Ahora
              </button>
            </div>
        </div>
    </div>
</ng-container>

