<div id="Equipo" class=" container-fluid bloque1 text-center">
    <div class="top text-green">
        <h2>Equipo</h2>
    </div>
    <div class="equipo">
        <img class="foto" src="./../../../assets/img/sol.jpg" alt="Solange Argomedo">
        <h2>Solange Argomedo</h2>
        <h4>Solution Assistant</h4>
        <p class="mb-5" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eaque, veritatis rerum iure sit dolores voluptate suscipit ullam eligendi ad.</p>
        <ul>
            <li><a href="#Equipo" target="_self"><img src="./../../../assets/img/twitter.png" alt="Twitter"></a></li>
            <li><a href="#Equipo" target="_self"><img src="./../../../assets/img/in.png" alt="LinkeIn"></a></li>
            <li><a href="#Equipo" target="_self"><img src="./../../../assets/img/mensaje.png" alt="Mensaje"></a></li>
        </ul>
    </div>
    <div class="equipo">
        <img class="foto" src="./../../../assets/img/equipo3.jpg" alt="Norma Buendia">
        <h2>Norma Buendía</h2>
        <h4>Solution Assistant</h4>
        <p class="mb-5" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eaque, veritatis rerum iure sit dolores voluptate suscipit ullam eligendi ad.</p>
        <ul>
            <li><a href="#Equipo" target="_self"><img src="./../../../assets/img/twitter.png" alt="Twitter"></a></li>
            <li><a href="#Equipo" target="_self"><img src="./../../../assets/img/in.png" alt="LinkeIn"></a></li>
            <li><a href="#Equipo" target="_self"><img src="./../../../assets/img/mensaje.png" alt="Mensaje"></a></li>
        </ul>
    </div>
    <div class="equipo">
        <img class="foto" src="./../../../assets/img/zuli.png" alt="Zulibeth Torres">
        <h2>Zulibeth Torres</h2>
        <h4>Solution Assistant</h4>
        <p class="mb-5" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eaque, veritatis rerum iure sit dolores voluptate suscipit ullam eligendi ad.</p>
        <ul>
            <li><a href="#Equipo" target="_self"><img src="./../../../assets/img/twitter.png" alt="Twitter"></a></li>
            <li><a href="#Equipo" target="_self"><img src="./../../../assets/img/in.png" alt="LinkeIn"></a></li>
            <li><a href="#Equipo" target="_self"><img src="./../../../assets/img/mensaje.png" alt="Mensaje"></a></li>
        </ul>
    </div>
    <div class="equipo">
        <img class="foto" src="./../../../assets/img/equipo3.jpg" alt="Camila Basurco">
        <h2>Daniel Vásquez</h2>
        <h4>Solution Assistant</h4>
        <p class="mb-5" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eaque, veritatis rerum iure sit dolores voluptate suscipit ullam eligendi ad.</p>
        <ul>
            <li><a href="#Equipo" target="_self"><img src="./../../../assets/img/twitter.png" alt="Twitter"></a></li>
            <li><a href="#Equipo" target="_self"><img src="./../../../assets/img/in.png" alt="LinkeIn"></a></li>
            <li><a href="#Equipo" target="_self"><img src="./../../../assets/img/mensaje.png" alt="Mensaje"></a></li>
        </ul>
    </div>
</div>