<div class="container py-4 bg-dark text-white py-2 rounded">
  <h1>{{titulo}}</h1>
  <h5 class="text-muted">{{message}}</h5>
</div>

<div class="container my-4">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let producto of productos | paginate: {itemsPerPage: 4, currentPage: pages}">
      <div class="row g-0">
        <div class="card">
          <img src="http://localhost:8080/api/productos/uploads/{{producto.foto}}" class="img-fluid" alt="Imagen {{producto.nombre}}" />
          <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <h6 class="card-title">{{producto.descripcion}}</h6>
            <p class="card-text">
              <span class="text-muted"><b>CÓDIGO:</b> {{producto.codigo}</span>
              <br>
              <b>Precio</b> {{ producto.precio | currency:'CLP':'symbol-narrow':'1.0-0' }}
              <br>
              <b>Stock Disponible:</b> {{producto.stock}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center my-5">
    <pagination-controls (pageChange)="pages = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
</div>
