<div class="container my-4">
  <app-header-productos message="{{cantidadProductos}}" (searchValue)="filter($event)"></app-header-productos>
  <div class="row row-cols-1 row-cols-md-3 g-4 my-4">
    <div class="col" *ngFor="let producto of productos | paginate: {itemsPerPage: 4, currentPage: pages}">
        <div class="card h-100 w-100 img-producto">
          <span class="h-100">
            <a href="#" class="img-hover">
              <img src="http://localhost:8080/api/productos/uploads/{{producto.foto}}" class="mt-4 img-producto" alt="Imagen {{producto.nombre}}" />
            </a>
          </span>
          <div class="card-body">
            <h4 class="card-title"><b>{{producto.nombre}}</b></h4>
            <hr>
            <h5>{{producto.descripcion}}</h5>
            <span class="text-muted"><b>CÓDIGO:</b> {{producto.codigo}}</span>
            <br>
            <b>Precio</b> {{ producto.precio | currency:'CLP':'symbol-narrow':'1.0-0' }}
            <br>
            <b>Stock Disponible:</b> {{producto.stock}}
          </div>
          <div class="row">
            <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-4">
              <button class="btn btn-primary " data-bs-toggle="button" data-bs-placement="button" title="Comprar" (click)="addtocart(producto)">
                Agregar al Carro <i class="fas fa-cart-plus"></i>
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="text-center my-5">
    <pagination-controls (pageChange)="pages = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
</div>


