<header>
   <div class="navbar bground shadow-sm">
    <div class="navbar-brand align-items-center d-flex">
        <span class="text-white fs-1 mx-4"> 
            <fa-icon [icon]="faCartShopping"></fa-icon>
        </span>
        <strong > Cart</strong>
        <div class="form-group  ">
            <input type="text" class="form-control mx-4 " placeholder="buscar producto">

        </div>
        <span class=".d-flex mx-12">
            <fa-icon [icon]="faSearch"></fa-icon>
        </span>
    </div>
    <button class="btn btn-primary mx-4 bg-dark" data-bs-toggle="button" data-bs-placement="button">
        <span >
            <fa-icon [icon]="faCartShopping"></fa-icon>
        </span>
    </button>
   </div>


</header>
