@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.clock{
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
    border: 2px solid white;
    border-radius: 10px;
    letter-spacing: 2px;

}
