<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
    <div class="container-fluid">
        <app-reloj></app-reloj>
        <div class=" navbar-collapse collapse " id="navbarNavDropdown">
            <ul class="nav justify-content-end">
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link" routerLink="home">Bienvenida</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="productos">Productos</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="nosotros">Nosotros</a>
                </li>
                <ng-container *ngIf="auth.isAuthenticated$ | async">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Sitios de Interés
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" routerLink="productos/lista">Listado de Productos</a></li>
                          <li><a class="dropdown-item" href="http://nodejs.org">NodeJS</a></li>
                          <li><a class="dropdown-item" href="http://www.google.cl">Google</a></li>
                      </ul>
                  </li>
                </ng-container>
            </ul>
        </div>
        <div class="d-flex">
          <app-auth-button></app-auth-button>
        </div>
    </div>
</nav>
